/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
}

.container {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    background-color: rgb(58, 171, 236);
    padding: 50px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-12 {
    flex: 0 0 100%;
}

.col-md-6 {
    flex: 0 0 calc(50% - 20px);
    margin-bottom: 20px;
}

.col-md-7 {
    flex: 0 0 calc(58.3333% - 20px);
}

.col-md-5 {
    flex: 0 0 calc(41.6667% - 20px);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1, h2 {
    font-family: 'Aldrich', sans-serif;
    font-weight: 500;
}

h2 {
    font-size: 36px;
    margin-top: 0;
}

button {
    width: 100%;
    max-width: 190px;
    height: 35px;
    background-color: #30A13F;
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none;
    padding: 6px 10px;
}

button:hover {
    background-color: rgb(0, 221, 0);
}

/* Header */

header {
    background-image: url('../img/background.jpg');
    background-attachment: fixed;
    padding: 100px 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 120px;
    height: 118px;
    height: auto;
    cursor: pointer;
    user-select: none;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-right: 40px;
    margin-bottom: 10px;
}

nav ul li:last-of-type {
    padding-right: 0;
}

nav ul a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: 'Inter';
    font-size: 20px;
}

nav ul a:hover {
    text-decoration: underline;
}

nav ul img {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
    -ms-filter: invert(100%);
    transform: translateY(8px);
    width: 30px;
    height: 30px;
}

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 110px;
    margin: 0;
    user-select: none;
}

h1 + p {
    font-family: 'Inter';
    opacity: 70%;
    font-size: 36px;
    margin: 0;
    user-select: none;
}

.globus-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.globus {
    width: 100%;
    max-width: 330px;
    height: auto;
    opacity: 50%;
}

/* Service */

.service {
    background-color: rgb(58, 171, 236);
}

.service .row .col-md-6 {
    margin-bottom: 40px;
}

.service .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
}

.service img {
    width: 100%;
    height: auto;
    margin-right: 0;
}

.service p {
    text-align: justify;
}

/* About */

.about {
    background-color: #2B3C5B;
    width: 100%;
}

.about img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}

.about p {
    text-align: justify;
}
    
/* Contact */
.contact {
    background: #0097e6;
  }
  
  .contact .section-title {
    color: #ffffff;
  }
  
  form {
    flex: 2 0 0;
    padding-right: 96px;
  }
  
  .contact-details {
    flex: 1 0 0;
  }
  
  input, textarea {
    display: block;
    background: #0097e6;
    border: none;
    border-bottom: 4px solid #ffffff;
    padding: 10px;
    color: #ffffff;
    margin-bottom: 10px;
    width: 100%;
  }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ffffff;
    font-family: "Inconsolata", monospace;
  }
  
  input::placeholder, textarea::placeholder {
    color: #ffffff;
    font-family: "Inconsolata", monospace;
  }
  
  textarea {
    height: 120px;
  }
  
  .contact h3 {
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0 0 0;
  }
  
  .contact h3:first-of-type {
    margin: 0;
  }
  
  .contact p {
    color: #ffffff;
  }
  
  .contact button {
    font-family: "Inconsolata", monospace;
    font-size: 16px;
  }

  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } 

/* Contact */

.contact {
    background-image: url("../img/background.jpg");
    background-attachment: fixed;
    background-position: 0% 313%;
}

.contact p:first-child {
    font-size: 32px;
    margin: 0 0 18px 0;
}

.contact p:nth-child(2) {
    font-size: 45px;
    font-family: 'Aldrich', sans-serif;
    margin: 0 0 40px 0;
}

.contact button {
    width: 100%;
    max-width: 400px;
    height: 60px;
    font-size: 30px;
}

.contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media Queries */

@media (max-width: 767px) {

    header, section {
        padding: 48px 0 !important;
    }

    header {
        height: calc(100vh + 38px);
    }

    nav ul li {
        padding-right: 10px;
        font-size: 16px;
    }

    .header-wrapper {
        margin: 30px 0;
    }

    h1 {
        font-size: calc(100vw / 4.625);
    }

    h1 + p {
        font-size: calc(100vw / 14.583);
    }

    .globus-wrapper {
        width: 100vw;
        justify-content: center;
        margin-bottom: 20px;
    }

    .globus {
        max-width: 150px;
    }

    .button-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .service img, .service p {
        width: calc(100vw - 40px);
    }

    .about img {
        width: 200px;
        height: 200px;
    }

    .contact button {
        font-size: 25px;
    }

    p {
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    header {
        padding: 50px 0;
    }

    h1 {
        font-size: 80px;
    }

    h1 + p {
        font-size: 30px;
    }
}