/* Global */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Aldrich', sans-serif;
}

button {
    font-size: 1.5vw;
    background-color: rgb(40, 156, 57);
    cursor: pointer;
    color: white;
    border: none;
    padding: 6px 10px;
}

header, section {
    padding: 123px 0; 
}

.container {
    padding: 0 346px;
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

/* Header */

header {
    background-image: url('img/background.jpg');
}

nav {
    display: flex;
    justify-content: space-between;
}

.img_container {
    width: 40%;
}

.logo {
    width: 160px;
    height: auto;
    cursor: pointer;
}

.link_container {
    display: flex;
    align-items: start;
}

.links {
    padding-right: 47px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: 26px;
}

h1 {
    font-size: 6vw;
}

img {
    width: 30%;
    height: auto;
}

.links:hover {
    text-decoration: underline;
}

/* Service */

.service {
    background-color: rgb(58, 171, 236);
}

.service .row {
    margin-bottom: 36px;
}

.service img {
    width: 382px;
    height: 302px;
}

.service button:hover {
    background-color: rgb(0, 221, 0);
}

/* About */

.aboout_section {
    background-color: #2B3C5B;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    padding-left: 200px;
}

.profil_img {
    width: 22%;
    height: auto;
}

.about_text_container {
    margin-right: 10px;
}

.about_text {
    font-size: 14px;
}

/* Media */

@media (max-width: 800px) {
    .first_section {
        height: 300px;
    }
}

@media (min-width: 1100px) {
    .first_section {
        height: 600px;
    }
}