/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Inter';
    font-size: 20px;
}

button {
    width: 140px;
    height: 35px;
    background-color: #30A13F;
    font-family: 'Inter';
    font-size: 20px;
    color: white;
    cursor: pointer;
    border: none;
    padding: 6px 10px;
}

header, section {
    padding: 106px 0; 
}

.container {
    width: 970px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper {
    display: flex;
}

.row {
    display: flex;
    justify-content: space-between;
}

h1, h2 {
    font-family: 'Aldrich', sans-serif;
}

h2, p {
    margin: 0;
}

.column {
    flex: 1;
}

/* Header */

header {
    background-image: url('img/background.jpg');
    height: 680px;
}

.logo {
    width: 120px;
    height: 118px;
    height: auto;
    cursor: pointer;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.link_container {
    display: flex;
    align-items: start;
}

.links {
    padding-right: 45px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: 'Inter';
    font-size: 20px;
}

.links:last-of-type {
    padding-right: 0;
}

.links:hover {
    text-decoration: underline;
}

header .wrapper {
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 110px;
    margin: 0;
}

h1 + p {
    font-family: 'Inter';
    opacity: 70%;
    font-size: 40px;
    margin: 0;
}

h2 {
    font-size: 36px;
}

.globus {
    width: 330px;
    height: 330px;
}

/* Service */

.service {
    background-color: rgb(58, 171, 236);
    height: 820px;
    padding: auto 0;
}

.service img {
    width: 330px;
    height: 250px;
    margin-right: 90px;
    border-radius: 5px;
}

.service .row:first-child {
    margin-bottom: 45px;
}

.service button:hover {
    background-color: rgb(0, 221, 0);
}

.service .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.service .row .column:nth-child(2) {
    width: 350px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* About */

.about {
    background-color: #2B3C5B;
    width: 100%;
}

.about img {
    width: 190px;
    height: 190px;
    border-radius: 5px;
}

.about .row {
    flex-direction: row;
    gap: 20px;
}

.about_text_container {
    margin-right: 10px;
}

.about_text {
    font-size: 14px;
}

/* Contact */
.contact {
    background-image: url("img/background.jpg");
}

.contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Media */

@media (max-width: 800px) {
    .first_section {
        height: 300px;
    }
}

@media (min-width: 1100px) {
    .first_section {
        height: 600px;
    }
    .profil_img {
        width: 10%;
    }
}